[user]
	name = Alexander Menjura
{{- if eq .profile "work" }}
	email = jose.menjura@mercadolibre.com.co
{{- else }}
	email = menjuraalexander@gmail.com
{{- end }}
[color]
	ui = auto
[core]
	autocrlf = input
	safecrlf = true
